@charset 'utf-8';
body{
	font-size:1em;
	font-family:Arial,微软雅黑;
	background:#EFEFEF;
}

html,body,div,ul,li,a,h1,h2,h3,h4,h5{
	margin:0;
	padding:0;
}

a{
	color: #99F;
	text-decoration: none;
}

a:hover{
	color: #AAF;
}